<div style="display: flex;justify-content:center;margin: 30px 0px;">
  <button mat-raised-button (click)="openNewBoardDialog()" color="accent">Yeni Board Ekle</button>
</div>


<div style="display: flex;justify-content:space-between;background-color: yellow;
align-items: center;margin: 10px 30px; padding: 0px 20px;" *ngFor="let board of boardService.boards;let i=index"
  [routerLink]="'/view-board/'+i">
  <div>
    {{board.title}}
  </div>
  <div>
    <button mat-icon-button (click)="deleteBoard(i)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
